body {color:white;
  background-color:gray;}

.first {background-color: white;
  /* css comment boooyyyy */
color: blue;}

.gray {background-color: rgba(255,255,255,0.5);}

.one {font-style: oblique;}
p.two {font-style: italic;}
p.three {font-style: normal;}
